:root {
    --primary: #ffb88d;
    --secondary: #a45e33;
    --tertiary: #753502;
    --indicator-blue: #009eff;
    --indicator-red: red;
}

body {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box-primary {
    box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 1);
    border: solid 2px black;
    background: var(--primary);
}

.box-secondary {
    border: solid 1px black;
    box-shadow: inset 0 0 8px 2px black;
    background-color: var(--secondary);
}

.box-tertiary {
    background-color: var(--tertiary);
    box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 1);
}

button.close-button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

button.close-button::after,
button.close-button::before {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 16px;
    background-color: var(--primary);
    border-radius: 2px;
}

button.close-button::after {
    top: 7px;
    left: 14px;
    transform: rotate(-45deg);
}

button.close-button::before {
    top: 7px;
    left: 14px;
    transform: rotate(45deg);
}

.card-primary {
    padding: 10px;
    border-radius: 10px;
}

.navigation-layer {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    z-index: 1000;
}

/** global elements */

/*** address pseudo-icon */
.indicator-address {
    width: 10px;
    height: 10px;
    background-color: var(--tertiary);
    border-radius: 2px;
    border: solid 1px black;
    position: relative;
}

.indicator-address::after,
.indicator-address::before {
    content: "";
    width: 1px;
    height: 18px;
    background-color: black;
    position: absolute;
    left: -1px;
    top: -6px;
}

.indicator-address::before {
    left: -6px;
    top: -1px;
    width: 18px;
    height: 1px;
}

/*** indicators */
.indicator-blue {
    filter: brightness(3);
    background-color: var(--indicator-blue);
    width: 10px;
    height: 10px;
    border: solid 1px black;
    box-shadow: inset 0 0 5px 1px black;
    transform: rotate(45deg);
}

.indicator-red {
    filter: brightness(3);
    background-color: var(--indicator-red);
    width: 10px;
    height: 10px;
    border: solid 1px black;
    box-shadow: inset 0 0 5px 1px black;
    transform: rotate(45deg);
}